<h1>Kõik artiklid</h1>

{{#if articles.length}}
  <ul class="article-list">
    {{#each articles}}
      <li class="article-item">
        <h3><a href="/articles/{{slug}}">{{name}}</a></h3>
        {{#if image}}<img
            src="{{image}}"
            alt="{{name}}"
            style="max-width:240px"
          />{{/if}}
        <p>{{truncate body 200}}</p>
        <a href="/articles/{{slug}}">Loe edasi →</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Artikleid pole veel.</p>
{{/if}}