<article class="article">
  <h1>{{article.name}}</h1>
  {{#if article.image}}<p><img
        src="{{article.image}}"
        alt="{{article.name}}"
        style="max-width:480px"
      /></p>{{/if}}
  <div class="article-body">
    {{{article.body}}}
  </div>

  <div class="actions">
    <a class="btn" href="/articles/{{article.id}}/edit">Muuda</a>
    <form
      action="/article/delete/{{article.id}}"
      method="POST"
      style="display:inline-block"
    >
      <button class="btn-danger" type="submit">Kustuta</button>
    </form>
  </div>

  <p><a href="/articles">â† Tagasi nimekirja</a></p>
</article>